{% extends "base.html" %}

{% block title %}Delete blog{% endblock title %}

{% block content %} 

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Delete Blog
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
         <a href="{% url 'delete' %}"> <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Delete</button> </a>
         <a href="{% url 'home' %}"> <button type="button" class="btn btn-primary" >cancel</button> <a>
        </div>
      </div>
    </div>
  </div>




{% endblock %}