{% extends "base.html" %}

{% block title %}home{% endblock title %}
<style>
      body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(90deg, #ff9a9e, #fad0c4, #fbc2eb, #8fd3f4);
            background-size: 400% 400%;
            animation: gradientShift 10s ease infinite;
          }
          
          /* Keyframes for the gradient animation */
          @keyframes gradientShift {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }
</style>

{% block content %} 

        {% include 'nav.html' %}

        {% include 'body.html' %}

       {% include 'profile.html' %}


  
       {% include 'signup.html' %}

       {% include 'login.html' %}
    

       {% include 'create_blog.html' %}

       {% include 'edit_blog.html' %}

      {% include 'delete.html' %}
        
{% endblock %}